.button-container {
    display: inline-flex; /* To align the rectangle and circle horizontally */
    align-items: center; /* To vertically align items within the container */
  }
  
  .button-text {
    background: linear-gradient(to right, #37518e, #5184cf); /* Left to right gradient */
    color: white;
    padding: 15px 30px; /* Adjust padding as needed */
    border-radius: 30px 0 0 30px; /* Rounded left corners */
    font-family: sans-serif; /* Choose your preferred font */
    font-weight: bold;
    font-size: 16px; /* Adjust font size */
    white-space: nowrap; /* Prevent text from wrapping */
  }
  
  .button-icon {
    background: linear-gradient(to right, #5184cf, #29a194); /* Left to right gradient */
    display: flex;
    justify-content: center; /* Center the icon horizontally */
    align-items: center; /* Center the icon vertically */
    width: 50px; /* Adjust the width and height to control the circle size */
    height: 50px;
    border-radius: 50%; /* Creates the circle */
    margin-left: -10px; /* Adjust to overlap with the rectangle */
  }
  
  .arrow-icon {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg); /* Adjust the arrow direction */
  }